<%- include('partials/header', { title: 'Error', user: user }) %>

<h1 style="font-size: 24px; margin: 50px 0px">Something went wrong</h1>
<p style="color: red; margin: 50px 0px"><%=error%></p>
<%-include('partials/footer') %>
