<%- include('partials/header', { title, user: user }) %>
<h1>Posts</h1>
<% if (post?.length > 0) { %> <% post.forEach(post => { %>
<div>
  <h2><%- post.title %></h2>
  <p><%- post.content %></p>
</div>
<% }) %> <% } %> <%-include('partials/footer') %>
